# Módulos de download do Node.js 
/home/william/Programação/estudos-desenvolvimento-web/node_modules

# Pacotes JSON não tão importantes.
/home/william/Programação/estudos-desenvolvimento-web/package-lock.json
/home/william/Programação/estudos-desenvolvimento-web/package.json